<p>course-card works!</p>

<div class="course-container">
    <div class="product-category">
        <div class="course-thumbnail">
            <ng-content select="appThumbnailArea"></ng-content> <!-- Content Projection with directive -->
            <ng-content></ng-content> <!-- Content Projection -->
        </div>
        <h3 class="title">{{ course().title }}</h3>
        <p>{{ course().description }}</p>
        <div class="course-footer">
            <span>🕧 {{ course().timeSpan }}</span> |
            <span>{{ course().rank }} ⭐</span>
        </div>
    </div>
</div>