<p>app works!</p>
<div class="container">
    <header>
        <div class="header-container">
            <img src="https://via.placeholder.com/1200x100/66b7d2" alt="Robot Parts Banner" class="banner">
        </div>
    </header>
    <nav>
        <ul>
            <li><a routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="todo" routerLinkActive="active">Todo</a></li>
            <li><a routerLink="articles" routerLinkActive="active">Articles</a></li>
            <li><a routerLink="parent" routerLinkActive="active">Parent</a></li>
            <li><a routerLink="child" routerLinkActive="active">Child</a></li>
            <li><a routerLink="products" routerLinkActive="active">Products</a></li>
            <li><a routerLink="http-example" routerLinkActive="active">Http Example</a></li>
            <li><a routerLink="local-storage" routerLinkActive="active">Local Storage</a></li>
            <li><a routerLink="standard-forms" routerLinkActive="active">Standard Form</a></li>
            <li><a routerLink="dynamic-forms" routerLinkActive="active">Dynamic Form</a></li>
            <li><a routerLink="directive" routerLinkActive="active">Directive</a></li>
            <li><a routerLink="observables" routerLinkActive="active">Observables</a></li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
<ngx-spinner bdColor="rgba(1,1,1,0.3)" type="ball-beat">
    <p style="color: black">Loading...</p>
</ngx-spinner>