<div class="container">
    <app-header-banner></app-header-banner>
    <app-header-menu></app-header-menu>
    <router-outlet></router-outlet>
    <router-outlet name="customers"></router-outlet>
    <app-footer>
        <div class='d-flex ml-auto'>
            <div class="social">
                <a href="https://www.facebook.com/"><img src="https://via.placeholder.com/24x24/11b7d2" alt="facebook" /></a>
                <a href="https://twitter.com/"><img src="https://via.placeholder.com/24x24/ccb7d2" alt="twitter" /></a>
                <a href="https://www.youtube.com"><img src="https://via.placeholder.com/24x24/33b7d2" alt="youtube" /></a>
                <a href="https://www.linkedin.com/"><img src="https://via.placeholder.com/24x24/ffb7d2" alt="linkedin" /></a>
            </div>
        </div>
    </app-footer>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-beat" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>