<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="home" routerLinkActive="active">Home</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Workout
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                <li class="nav-item"><a class="nav-link" routerLink="bootstrap" routerLinkActive="active">Bootstrap</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="material" routerLinkActive="active">Material</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="directive" routerLinkActive="active">Directive</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="observables" routerLinkActive="active">Observables</a></li> 
                <li class="nav-item"><a class="nav-link" routerLink="http-example" routerLinkActive="active">Http Example</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="local-storage" routerLinkActive="active">Local Storage</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="standard-forms" routerLinkActive="active">Standard Form</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="dynamic-forms" routerLinkActive="active">Dynamic Form</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="multi-forms" routerLinkActive="active">Component</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="todo" routerLinkActive="active">Todo</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="articles" routerLinkActive="active">Articles</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="products" routerLinkActive="active">Products</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="test/child" routerLinkActive="active">Test</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="parent/child" routerLinkActive="active">Parent</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>