.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    text-align: center;
    padding: 20px 0;

}

.banner {
    width: 100%;
    height: auto;
    max-height: 20vh;
    object-fit: cover;
}

.promotion {
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.promotion h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.promotion p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #e91e63;
}

.footer-container {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
    background-color: #a8a8a8;
}

.footer-container p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #ffffff;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px 0;
}

.product-category {
    text-align: center;
    margin: 20px;
}

.product-category img {
    width: 150px;
    height: 150px;
}

.product-category p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}
.odd {
    background-color: #ddd;
}
.even {
    background-color: #a8a8a8;
}