<h1>Profile Form</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
        <label>First Name
            <input type="text" formControlName="firstName" autocomplete />
        </label>
    </div>
    <div class="form-field">
        <label>Last Name
            <input type="text" formControlName="lastName" autocomplete />
        </label>
    </div>
    <div class="form-field">
        <label>Email
            <input type="email" formControlName="email" autocomplete />
        </label>
    </div>
    <div class="form-field">
        <label>Secret Key
            <input type="password" formControlName="secretKey" />
        </label>
    </div>
    <div class="form-field">
        <label>Password
            <input formControlName="password" type="passwordFormField"/>
        </label>
        <div class="text-red-400 text-sm" *ngIf="passwordFormField?.dirty">
            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('^(?=.*[A-Z])')}">At least
                one
                uppercase letter.</span>
            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[a-z])')}">At least
                one
                lowercase letter.</span>
            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(.*[0-9].*)')}">At least
                one
                digit.</span>
            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('(?=.*[!@#$%^\&*])')}">At
                least one
                special character.</span>
            <span class="block" [ngClass]="{'text-primary': passwordFormField?.value?.match('.{8,}')}">At least 8
                characters
                long.</span>
        </div>
    </div>
    <div class="form-field">
        <label>Confirm Password
            <input type="password" formControlName="confirmPassword" />
        </label>
        <div class="error-message" *ngIf="profileForm.errors?.['PasswordNoMatch']">
            Password does'nt match.
        </div>
    </div>
    <div class="form-field">
        <select formControlName="country">
            <option *ngFor="let country of countries" [value]="country.id">
                {{ country.name }}
            </option>
        </select>
    </div>
    <div class="form-buttons">
        <button class="button button-primary" type="submit" [disabled]="profileForm.invalid">Update</button>
    </div>
</form>
<p>Form value: </p>
<pre>{{ profileForm.value | json }}</pre>

<h1>Login Form</h1>
<form [formGroup]="loginForm">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <input name="email" type="text" formControlName="email">
        </div>
        <div class="form-field">
            <input name="password" type="password" formControlName="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" (click)="login()">Login</button>
    </div>
</form>
<p>Form value: </p>
<pre>{{ loginForm.value | json }}</pre>

<h1>Template-driven Form Example (with bi-directional data binding):</h1>
<form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm.value)">
    <p>
        <label>Title:
        <input type="text" name="title" [(ngModel)]="notes.title" required></label>
    </p>
    <p>
        <label>Description:
        <textarea [(ngModel)]="notes.description" name ="description" required></textarea></label>
    </p>
    <select [(ngModel)]="notes.countries" name="countries">
        <option [ngValue]="null" disabled>Choose your country</option>
        <option *ngFor="let country of countries" [ngValue]="country">
            {{ country.name }}
        </option>
    </select>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
        {{notes.fileName || "No file uploaded yet."}}
        <button color="primary" class="upload-btn" (click)="fileUpload.click()">Upload</button>
    </div>
    <p>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </p>
</form>
<p>Form value: </p>
<pre>{{ myForm.value | json }}</pre>